:root {
  --sidebar-text-color: hsl(30, 14%, 95%);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 35%;
  height: 100%;
  position: relative;
  background-image: url("../images/baking-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-container {
  width: 100%;
  height: 10%;
  background-image: linear-gradient(
    hsla(0, 0%, 0%, 0.2),
    hsla(0, 0%, 50%, 0.7)
  );
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--sidebar-text-color);
  font-size: 2rem;
}

.logo-container p {
  font-family: inherit;
  font-size: 2.5rem;
  color: orange;
}

#logo {
  width: 20%;
  height: 80%;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 1%;
  left: 30%;
  font-size: 1.2rem;
  color: var(--sidebar-text-color);
  font-family: inherit;
}

#footer a {
  color: inherit;
}

#footer a:hover {
  color: orange;
}

.main-content {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: hsl(30, 14%, 95%);
}

.header {
  width: 100%;
  background-color: inherit;
  line-height: 2.2rem;
  font-size: 2rem;
  padding: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.header p:first-child {
  margin-top: 5rem;
  margin-right: 5rem;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: white;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  background-color: hsl(30, 14%, 95%);
}

.sign-up-form input {
  border-radius: 0.3rem;
  height: 2rem;
  margin-bottom: 1.5rem;
  border-width: thin;
}

.sign-up-form input:hover,
.sign-up-form input:focus {
  border-color: hsla(22, 88%, 58%, 0.7);
  box-shadow: 0 4px 4px -1px hsla(22, 88%, 58%, 0.7);
  outline: none;
}

.sign-up-form input:valid {
  border-color: hsla(30, 2%, 38%, 0.4);
}

.inputs-container {
  display: flex;
  border-bottom: none;
  box-shadow: 0 4px 4px -1px hsla(30, 2%, 38%, 0.5);
  background-color: white;
}

div[data-form-left] {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  width: 30%;
}

div[data-form-right] {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  width: 30%;
  height: auto;
}

h2[data-form-header] {
  margin: 1rem 2rem;
}

.button-create-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

button[data-btn-create-account] {
  border-radius: 0.5rem;
  width: 15%;
  height: 80%;
  margin: 1rem 2rem;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: hsl(32, 82%, 56%);
  border: none;
  box-shadow: 0 4px 4px -1px hsla(30, 2%, 38%, 0.5);
  cursor: pointer;
}

button[data-btn-create-account]:hover {
  box-shadow: 0 4px 4px -1px hsla(30, 2%, 38%, 0.8);
  background-color: hsl(32, 82%, 56%);
}

.log-in-container {
  margin-left: 2rem;
  font-size: 1.3rem;
}

a[data-link-login] {
  list-style: none;
  color: orange;
  text-decoration: none;
}

a[data-link-login]:hover {
  color: black;
}
