:root {
  --sidebar-text-color: hsl(30, 14%, 95%);
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 35%;
  height: 100%;
  position: relative;
  background-image: url(/images/baking-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.logo-container {
  width: 100%;
  height: 10%;
  background-image: linear-gradient(
    rgba(54, 69, 79, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--sidebar-text-color);
  font-size: 2rem;
}

.logo-container p {
  font-size: inherit;
}

#logo {
  width: 20%;
  height: 80%;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 1%;
  left: 30%;
  font-size: 1.2rem;
  color: var(--sidebar-text-color);
}

#footer a {
  color: inherit;
}

#footer a:hover {
  color: orange;
}

.main-content {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-grow: 2;
  flex-shrink: 2;
  background-color: white;
}

.header {
  width: 100%;
  height: 25vh;
  background-color: hsl(30, 14%, 95%);
  line-height: 2.2rem;
  font-size: 2rem;
  padding: 2rem;
  text-align: left;
}

.header p:first-child {
  margin-top: 5rem;
  margin-right: 5rem;
}
